/* Color Scheme*/
/* Variables */
:root {
    --obsidian-black: #1A1A1A;
    --molten-red: #B33A3A;
    --intense-red: #ff0c0c;
    --steel-gray: #4B4E53;
    --ash-white: #E8E6E1;
    --gold-ember: #E5B44B;

    --font-heading: "Cinzel", serif;
    --font-body: "Merriweather",serif;
}

body {
    font-family: var(--font-body);
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 200;
    font-size: medium;
}
.navigation li a {
    font-family: var(--font-body);
}
/* Header */
.top-container {
    background-color: var(--obsidian-black);
    color: var(--gold-ember);
}
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--ash-white);
}
/* Container of index */
.index-container {
    max-width: 1200px;
    /* margin: 5px; */
    padding: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

/* Business Cards container */
.business-cards {
    max-width: 1200px;
    margin: 5px;
    border-radius: 10px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.events, .weather-card, .forecast, .card1, .card2, .card3 {
    background-color: var(--ash-white);
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}
.events h2, .weather-card h2, .forecast h2, .card1 h2,
.card2 h2, .card3 h2 {
    background-color: var(--obsidian-black);
    color: var(--gold-ember);
    margin: -11px -11px 2px -11px;
    padding: 2px;
    border-radius: 6px 6px 0 0;
    text-align: center;

}


header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 24px;
    height: 24px;
}
.logo span {
    font-weight: 500;
    font-size: 16px;
}

/* Navigation Desktop */
.navigation {
    display: block;
}
.navigation ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.navigation li a {
    text-decoration: none;
    color: var(--gold-ember);
    font-weight: 400;
    font-size: 16px;
    padding: 8px 0;
}
.navigation li a:hover {
    color: var(--intense-red);
}
.navigation li.current a {
    font-weight: 500;
    color: var(--ash-white);
}

/* Navigation Hamburger */
.hamburger {
    display: none;
    background: none;
    border: none;
    color: var(--gold-ember);
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
}

.hamburger::before {
    content: "\2630"; /* ≡ */
    font-size: 2rem;
    line-height: 1;
}

.hamburger.show::before {
    content: "\00D7"; /* × */
    font-size: 2rem;
}

/* Business Cards */
#cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.business-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #c7cacf;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.business-card:hover {
    box-shadow: 0 4px 8px var(--gold-ember);
}

.business-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}
.business-card h2 {
    margin: 0;
    font-size: 1.2rem;
}
.business-card p {
    margin: 2px 0;
    font-size: 0.9rem;
}

/* Grid View (default) */
#cards.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
/* List View */
#cards.list {
    display: flex;
    flex-direction: column;
}

/* Hero image */
.hero {
    position: relative;
    height: 500px;
    background-image: url(../images/ring-and-banners.webp);
    background-size: cover;
    display: flex;
    margin: 5px;
    border-radius: 10px;
}
.cta-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: red;
    color: aliceblue;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    text-align: center;
}
.cta-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Footer */

footer {
    background-color: var(--obsidian-black);
    margin: 10px;
    padding: 1rem 10px;
    text-align: center;
    border-radius: 10px;
    color: var(--ash-white);
}

.main-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--gold-ember) solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--intense-red);
}

footer p {
    color: var(--ash-white);
}

/* Footer - (3 columns) */
@media (min-width: 768px) {
    .main-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        gap: 1rem;
    }

    .business-location {
        text-align: left;
        padding: 5px;
    }
    .my-location {
        text-align: right;
        padding: 5px;
    }
    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
    }
}
