/* Color Scheme*/
/* Variables */
:root {
    --obsidian-black: #1A1A1A;
    --molten-red: #B33A3A;
    --intense-red: #ff0c0c;
    --steel-gray: #4B4E53;
    --ash-white: #E8E6E1;
    --gold-ember: #E5B44B;

    --font-body: "Cinzel", serif;
    --font-heading: "Merriweather",serif;
}

/* Header */
.top-container {
    background-color: var(--obsidian-black);
    color: var(--gold-ember);
}
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--ash-white);
}
header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 24px;
    height: 24px;
}
.logo span {
    font-weight: 500;
    font-size: 16px;
}

/* Navigation Desktop */
.navigation {
    display: block;
}
.navigation ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.navigation li a {
    text-decoration: none;
    color: var(--gold-ember);
    font-weight: 400;
    font-size: 16px;
    padding: 8px 0;
}
.navigation li a:hover {
    color: var(--intense-red);
}
.navigation li.current a {
    font-weight: 500;
    color: var(--ash-white);
}

/* Navigation Hamburger */
.hamburger {
    display: none;
    background: none;
    border: none;
    color: var(--gold-ember);
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
}

.hamburger::before {
    content: "\2630"; /* ≡ */
    font-size: 2rem;
    line-height: 1;
}

.hamburger.show::before {
    content: "\00D7"; /* × */
    font-size: 2rem;
}

/* Business Cards */
#cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.business-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #c7cacf;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.business-card:hover {
    box-shadow: 0 4px 8px var(--gold-ember);
}

.business-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}
.business-card h2 {
    margin: 0;
    font-size: 1.2rem;
}
.business-card p {
    margin: 2px 0;
    font-size: 0.9rem;
}

/* Grid View (default) */
#cards.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
/* List View */
#cards.list {
    display: flex;
    flex-direction: column;
}

/* Footer */

footer {
    background-color: var(--obsidian-black);
    margin: 10px;
    padding: 1rem 10px;
    text-align: center;
    border-radius: 10px;
    color: var(--ash-white);
}

.main-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--gold-ember) solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--intense-red);
}

footer p {
    color: var(--ash-white);
}

/* Footer - (3 columns) */
@media (min-width: 768px) {
    .main-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        gap: 1rem;
    }

    .business-location {
        text-align: left;
        padding: 5px;
    }
    .my-location {
        text-align: right;
        padding: 5px;
    }
    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
    }
}
